*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content {
  width: 100%;
  margin: auto;
}
.header .header-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 0px 50px;
}
.header .header-inner .header__inner:after {
  content: '';
  display: table;
  clear: both;
}
.header .header-inner .logo {
  float: left;
}
.header .header-inner .panel_bottoms {
  float: right;
  font-size: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header .bottoms {
  float: left;
  padding-right: 35px;
  margin: 0 0 0 5px;
}
.header .bottoms a {
  display: inline-block;
  color: #82868f;
  text-decoration: none;
}
.header .bottoms a:hover,
.header .bottoms a.active {
  border-radius: 7px;
  background: #0ebfdd;
}
.container {
  background: #591384;
}
.container .stace_1 {
  max-width: 1400px;
  height: 600px;
  margin: 0 auto;
  clear: both;
}
.container .stace_1 .textstace {
  width: 820px;
  height: 140px;
  background: red;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.container .stace_1 .textstace h1 {
  margin-top: 0;
}
