doctype html
html(lang="en")
  head
    title= LOGO
    link(rel="stylesheet", href="../css/main.css")
    link(rel="stylesheet", href="../css/normalize.css")
  body
    .container
      .stace_1
        .textstace
                  h1 Our Mission
                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia in repellendus quisquam odio quis illum.
                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae numquam iure praesentium.