doctype html
html(lang="en")
	head
		title= LOGO
		link(rel="stylesheet", href="../css/main.css")
		link(rel="stylesheet", href="../css/normalize.css")
	body
		.header
			.header-inner
				.logo: a(href="#"): img(src="../img/logo.jpg" alt="")
				ul.panel_bottoms
					li.bottoms: a(href="#") LABEL
					li.bottoms: a(href="#") LABEL
					li.bottoms: a(href="#") LABEL
					li.bottoms: a(href="#") SIGN IN
