doctype html
html(lang="en")
  head
    title= LOGO
    link(rel="stylesheet", href="../css/main.css")
    link(rel="stylesheet", href="../css/normalize.css")
  body
    include file ../html/header.html;