*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
.content {
	width: 100%;
	margin: auto;
}
// шапка саита
.header{
	.header-inner{
		max-width: 1400px;
		margin: 0 auto;
		padding: 30px 0px 50px;
		.header__inner:after {
			content: '';
			display: table;
			clear: both;
		}
// Логотип
		.logo{
			float: left;
		}
// панель кнопок
		.panel_bottoms{
			float: right;
			font-size: 15px;
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	}
// кнопки
	.bottoms{
		float: left;
		padding-right: 35px;
		margin: 0 0 0 5px;
			a{
				display: inline-block;
				color: #82868f;
				text-decoration: none;
			}
			a:hover,
			a.active {
				border-radius: 7px;
				background: #0ebfdd;
			}
	 }
}
// конец шапки саита

// контент сайта
.container{
	background: #591384;
	.stace_1{
		max-width: 1400px;
		height: 600px;
		margin: 0 auto;
		clear: both;
			.textstace{
				width: 820px;
				height: 140px;
				background: red;
				margin: 0 auto;
				text-align: center;
				color: #fff;
					h1 {
						margin-top: 0;
					}
		}
	}
}
